common-padding = 30px;
header-height = 50px;

logo-color = #48455c;

layout-bg = #e5e5e7;
layout-secondary-bg = #fff;
layout-border-color = #bdbdbf;
layout-border-radius = 4px;

theme-error = #ff4c27;
theme-success = #5ace5f

oauth-providers-colors = {
    facebook: #3b5998,
    vkontakte: #507299,
    yandex: #fd0011,
    google: #4285f4

}

navbar-icons-colors = {
    normal: #657786,
    active: #1DA1F2
}
