.user-info__subscribe-button.user-info__subscribe-button,
.user-info__unsubscribe-button.user-info__unsubscribe-button {
    margin-left: auto;
    min-width: 120px;

    &_requested {
        pointer-events: none;
        opacity: .7;
    }

    &_hidden {
        display: none;
    }

    @media (max-width: media[tablet]) {
        margin-top: (common-padding / 2);
        margin-left: 0;
        width: 100%;
    }
}
