.user-info_profile{
    half-common-padding = (common-padding / 2);

    display: block;

    & .user-info__fullname {
        display: block;
        padding-top: half-common-padding;

    }

    & .user-info__username {
        display: block;
    }
    & .user-info__description
    {
        padding: half-common-padding 0;
        font-family: layout-font-family;
    }
}
