.message {
    padding: common-padding;

    @media (max-width: media[tablet]) {
        padding: (common-padding / 2);
    }

    &_style_parent,
    &_style_reply {
        background-color: layout-accent-bg;

        &:last-child {
            border-bottom-left-radius: (layout-border-radius - 1);
            border-bottom-right-radius: (layout-border-radius - 1);
        }
    }

    &_style_parent {
        border-bottom: 1px solid layout-border-color;
    }

    &_main {
        position: relative;
        z-index: 1;
        box-shadow: 0 0 5px 3px rgba(0, 0, 0, .15);
    }

    &__reply-text {
        font-family: layout-font-family;
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        color: theme-text-muted-light;
    }

    &__reply-text-icon {
        fill: theme-text-muted-light;

        &:hover,
        &:focus {
            fill: theme-text-muted-light;
        }
    }

    &__reply-text-link {
        color: theme-text-muted-light;
    }

    &__columns {
        display: flex;

        &_reply {
            margin-bottom: (common-padding / 2);
        }
    }

    &__column {
        &_type_left {
            flex-basis: 48px;
            flex-shrink: 0;
            margin-right: (common-padding / 3);
            text-align: right;

            @media (max-width: media[phone]) {
                flex-basis: 36px;
            }
        }

        &_type_right {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }
    }

    &__userpic-link {
        display: block;
        font-size: 0;
    }

    &__userpic {
        width: 48px;
        height: 48px;

        @media (max-width: media[phone]) {
            width: 36px;
            height: 36px;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media (max-width: media[phone]) {
            flex-direction: column;
            align-items: stretch;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        margin-top: (common-padding / 2);
    }

    &__link,
    &__mention {
        text-decoration: none;
        stylus-mixins__link(theme-link-blue);
    }

    &__attachments-container {
        margin-top: (common-padding / 2);
    }

    &__content-text {
        font-family: layout-font-family;
        font-size: 16px;
        line-height: 20px;
        text-align: left;
        word-break: break-word;
        color: theme-text-main;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;

        &:empty {
            margin-top: 0;
        }
    }

    &__date {
        font-family: layout-font-family;
    }

    &__reply {
        display: flex;
        align-items: center;
    }

    &__replies-count {
        display: inline-block;
        margin-left: 5px;
        font-family: layout-font-family;
    }
}
