.message {
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media (max-width: media[phone]) {
            flex-direction: column;
            align-items: stretch;
        }
    }

    &__header-right {
        display: flex;
        flex-basis: 50%;
        justify-content: space-between;
        align-items: flex-start;

        @media (max-width: media[phone]) {
            flex-basis: 100%;
            align-items: center;
        }
    }

    &__header-middle {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__date {
        font-family: layout-font-family;
    }

    &__is-reply&__is-reply {
        font-family: layout-font-family;
        margin-top: 5px;
        color: theme-text-muted;
    }

    &_style_reply + &_style_reply {
        margin-top: (common-padding / 2);
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        font-family: layout-font-family;
        margin-top: common-padding;
    }
        
    &__content-text {
        text-align: left;
        font-size: 20px;
        color: theme-text-main;
    }

    &__content-image,
    &__content-geo {
        margin: (common-padding / 2) auto 0;
    }
}
