node_modules/
.DS_Store
.idea
.project
.svn
npm-debug.log
server.crt
server.key

static/index.min.*
server/configs/*.*
!server/configs/global.js
# bem
.enb/tmp/
libs/
*bundles*/*/*.*
!*bundles*/*/*.bemdecl.js
*bundles*/*/*.tmpl.bemdecl.js
*bundles*/*/*.bemhtml-tmpl.bemdecl.js
*bundles*/*/*.bemtree-tmpl.bemdecl.js
!*bundles*/.bem/*
common.blocks/page/_view/.page_view_404.bemtree.js.swp
uploads/avatars/*
uploads/images/*
!.gitkeep
