.page-users-header {
    padding: common-padding;
    border-bottom: 1px solid layout-border-color;
    background-color: layout-accent-bg;
    font-family: layout-font-family;
    line-height: 1.4;
    text-align: center;

    @media (max-width: media[phone]) {
        padding: (common-padding / 2);
    }
}
