.panel {
    padding: common-padding;
    border-radius: layout-border-radius;
    border: 1px solid layout-border-color;
    background-color: layout-secondary-bg;

    &_no-padding&_no-padding {
        padding: 0;
    }

    @media (max-width: media[tablet]) {
        padding: (common-padding / 2);
    }

    @media (max-width: media[phone]) {
        border-radius: 0;
        border: none;
    }
}
