.panel {
    padding: common-padding;
    border-radius: layout-border-radius;
    border: 1px solid layout-border-color;
    background-color: layout-secondary-bg;

    @media (max-width: media[tablet]) {
        padding: (common-padding / 2);
    }
}
