.body {
    small-padding = (common-padding / 3);

    margin-top: (header-height + common-padding);
    margin-bottom: common-padding;

    @media (max-width: (layout-width + 16)) {
        margin-top: (header-height + small-padding * 2);
        margin-left: small-padding;
        margin-right: small-padding;
        margin-bottom: small-padding;
    }

    @media (max-width: media[phone]) {
        margin-top: small-padding;
        margin-bottom: header-height + small-padding * 2;
    }
}
