.message-attachment {
    &_editable {
        position: relative;
    }

    &__remove {
        position: absolute;
        top: layout-border-radius;
        right: layout-border-radius;
        background-color: #fff;
    }
}
