.message-attachment {
    &_editable {
        position: relative;
    }

    &__remove {
        position: absolute;
        top: (layout-border-radius + 1);
        right: (layout-border-radius + 1);
        background-color: #fff;
    }
}
