.notifications-renderer {
    position: fixed;
    top: header-height;
    left: 0;
    right: 0;
    z-index: 1;

    @media (max-width: media[phone]) {
        top: 0;
    }

    &__items {
        max-width: notifications-width;
        margin: 0 auto;
        padding: (common-padding / 2);
        box-sizing: border-box;

        &:empty {
            padding: 0;
        }
    }

    &__item {
        opacity: 0;
        will-change: transform, opacity;
        transform: translateY(-100px);
        transition: opacity .3s ease-in, transform .2s ease-out;

        &_visible {
            opacity: 1;
            transform: translateY(0);
        }

        & + & {
            margin-top: 5px;
        }
    }
}
