.form__label {
    display: block;
    font-family: layout-font-family;
    margin-bottom: 5px;
    color: theme-text-muted;
}

.form__label-required {
    font-weight: bold;
    margin-left: 3px;
    color: theme-error;
}
