.subscribe {
    &__button&__button {
        width: 100%

        &_requested {
            pointer-events: none;
            opacity: .7;
        }

        &_hidden {
            display: none;
        }
    }
}
