.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    height: header-height;
    background-color: layout-secondary-bg;
    border-bottom: 1px solid layout-border-color;
}
