.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    height: header-height;
    background-color: layout-bg-dark;
    border-bottom: 1px solid layout-border-dark;

    @media (max-width: media[phone]) {
        top: auto;
        bottom: 0;
        border-bottom: none;
        border-top: 1px solid layout-border-dark;
    }
}
