.form-search {
  half-common-padding = common-padding / 2;

  &__spinner.spinner_visible {
    margin-top: common-padding;
    margin-bottom: common-padding;
  }

  &__results {
    margin-top: common-padding;
  }

  &__result-item + &__result-item {
    margin-top: half-common-padding;
  }
}
