.message-attachment_type_geo {
    min-width: 200px;
    padding: layout-border-radius;
    border-radius: layout-border-radius;
    border: 1px solid layout-border-light-color;
    text-align: center;
}
