.message-attachment {
    &_type_image {
        max-width: 240px;
        width: 100%;
        padding: layout-border-radius;
        border-radius: layout-border-radius;
        border: 1px solid layout-border-light-color;
        font-size: 0;
    }

    &__image {
        width: 100%;
    }
}
