.message-attachment {
    &_type_image {
        text-align: center;
    }

    &__link-container {
        display: inline-block;
    }

    &__image {
        display: block;
        max-width: 100%;
        max-height: message-attachment-max-height;
        margin: 0 auto;
        padding: layout-border-radius;
        border-radius: layout-border-radius;
        border: 1px solid layout-border-light-color;
    }
}
