.message-attachment {
    &__link {
        display: block
    }

    &_type_image {
        text-align: center;
    }

    &__image-container {
        display: inline-block;
        padding: layout-border-radius;
        border-radius: layout-border-radius;
        border: 1px solid layout-border-light-color;
        background-color: layout-secondary-bg;
    }

    &__image {
        display: block;
        max-width: 100%;
        max-height: message-attachment-max-height;
    }
}
