.infinite-list_type_users-search {
    .infinite-list__item + .infinite-list__item {
        margin-top: (common-padding / 2);

        @media (max-width: media[tablet]) {
            margin-top: common-padding;
            padding-top: common-padding;
            border-top: 1px solid layout-border-light-color;
        }
    }
}
