.infinite-list_type_users-search {
    .infinite-list__item + .infinite-list__item {
        margin-top: (common-padding / 2);
        padding-top: (common-padding / 2);
        border-top: 1px solid layout-border-light-color;

        @media (max-width: media[tablet]) {
            margin-top: common-padding;
            padding-top: common-padding;
        }
    }
}
