.infinite-list_type_user-messages {
    half-common-padding = (common-padding / 2);

    .infinite-list__item + .infinite-list__item {
        border-top: 1px solid layout-border-light-color ;

        @media (max-width: media[tablet]) {
            padding-top: half-common-padding;
        }
    }
}
