.preview-image
  margin 0 auto
.preview-image_size_xs
  max-width 200px
  max-height 200px;
.preview-image_size_s
  max-width 300px
  max-height 300px;
.preview-image_size_m
  max-width 400px
  max-height 400px;
.preview-image_size_l
  max-width 500px
  max-height 500px;
.preview-image_size_xl
  max-width 600px
  max-height 600px;
.preview-image img
  width 100%
  border-radius:5px;
  margin 5px auto;
