.username {
    display: inline-block;
    max-width: 180px;
    font-family:layout-font-family;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: theme-text-muted-light;

    &_inline {
        display: inline;
    }

    &__text {
        &::before {
            content: "@";
        }
    }
}
