.layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: layout-bg;

    @media (max-width: media[phone]) {
        background-color: layout-secondary-bg;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        min-height: 100vh;
    }
}
