common-padding = 30px;
header-height = 50px;

logo-color = #4d5d6b;

layout-bg = #ececee;
layout-secondary-bg = #fff;
layout-border-color = #bdbdbf;
layout-border-light-color = lighten(layout-border-color, 70%);
layout-border-radius = 4px;
layout-font-family = Arial, Helvetica, sans-serif;

theme-main = #fc0;
theme-error = #ff4c27;
theme-success = #5ace5f;
theme-muted = #888;

theme-text-main = #1d2329;
theme-text-muted = #636363;
theme-link = #5f707e;
theme-link-blue = #58aade;

oauth-providers-colors = {
    facebook: #3b5998,
    vkontakte: #507299,
    yandex: #fd0011,
    google: #4285f4
}

icon-color = {
    normal: #657786,
    hover: #759eae,
    active: #556477
}

layout-width = 660px;
dropdown-menu-width = 200px;

media = {
    phone: 30em,
    tablet: 40em
}

create-message-icons-colors = {
    normal: #657786,
    active: #1DA1F2
}

profile-border-top-wide-color = #657786;
