common-padding = 30px;
header-height = 50px;
header-icon-size = 32px;

logo-color = #4d5d6b;

layout-bg = #f6f6f7;
layout-secondary-bg = #fff;
layout-bg-dark = #516672;
layout-accent-bg = #f4f6fb;
layout-border-color = #cbcbdc;
layout-border-dark = #495c67;
layout-border-light-color = #ebebf7;
layout-border-radius = 4px;
layout-font-family = Arial, Helvetica, sans-serif;

theme-main = #ffdb4d;
theme-info = #d1ddf0;
theme-error = #ff714f;
theme-success = #5ace5f;
theme-muted = #888;

theme-text-main = #1d2329;
theme-text-muted = #636363;
theme-text-muted-light = #888;
theme-text-light = #fff;
theme-link = #697997;
theme-link-blue = #58aade;

oauth-providers-colors = {
    facebook: #3b5998,
    vkontakte: #507299,
    yandex: #fd0011,
    google: #4285f4
}

icon-color = {
    normal: #657786,
    hover: #759eae,
    active: #556477
}
navbar-icon-color = {
    normal: #e4edfb,
    hover: #cbd3e0,
    active: #eef5ff
}

layout-width = 660px;
notifications-width = 400px;
dropdown-menu-width = 200px;
message-attachment-max-height = 300px;

media = {
    phone: 30em,
    tablet: 40em
}
