common-padding = 30px;
header-height = 50px;

logo-color = #48455c;

layout-bg = #e5e5e7;
layout-secondary-bg = #fff;
layout-border-color = #bdbdbf;
layout-border-radius = 4px;
layout-font-family = Arial, Helvetica, sans-serif;

theme-main = #fc0;
theme-error = #ff4c27;
theme-success = #5ace5f;
theme-muted = #888;

theme-text-muted = #636363;

oauth-providers-colors = {
    facebook: #3b5998,
    vkontakte: #507299,
    yandex: #fd0011,
    google: #4285f4
}

navbar-icons-colors = {
    normal: #657786,
    active: #1DA1F2
}

layout-width = 660px;
dropdown-menu-width = 200px;

media = {
    tablet: 40em
}

create-message-icons-colors = {
    normal: #657786,
    active: #1DA1F2
}
