@import '../../variables.styl';

.layout_type_center-block {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .layout__inner {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        max-width: 360px;
    }
}
