.message-list
  max-width: 500px;
  margin 0 auto;
  font-size: 1rem;
.message-list_size_xs
  max-width: 200px;
  font-size: 0.7rem;
.message-list_size_s
  max-width: 300px;
  font-size: 0.8rem;
.message-list_size_m
  max-width: 400px;
  font-size: 0.9rem;
.message-list_size_l
  max-width: 500px;
  font-size: 1rem;
.message-list_size_xl
  max-width: 600px;
  font-size: 1.1rem;