.form-settings {
    half-common-padding = common-padding / 2;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    &__row-avatar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;

        @media (max-width: media[tablet]) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__avatar {
        margin-right: common-padding;

        @media (max-width: media[tablet]) {
            margin-right: 0;
            margin-bottom: common-padding;
        }
    }

    &__uploader {
        @media (max-width: media[tablet]) {
            width: 100%;
        }
    }

    &__uploader-button&__uploader-button {
        @media (max-width: media[tablet]) {
            width: 100%;
        }
    }

    &__description&__description {
        padding: 6px 11px;
    }

    &__row-submit-button {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @media (max-width: media[tablet]) {
            flex-direction: column;
        }
    }

    &__spinner {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: common-padding;

        @media (max-width: media[tablet]) {
            margin-right: 0;

            &.spinner_visible {
                margin-bottom: common-padding;
            }
        }
    }

    &__submit-button {
        @media (max-width: media[tablet]) {
            width: 100%;
        }
    }
}
