.user-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media (max-width: media[tablet]) {
        flex-direction: column;
        align-items: flex-start;
    }

    &__left {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @media (max-width: media[tablet]) {
            margin-bottom: (common-padding / 2);
        }
    }

    &__userpic {
        margin-right: 10px;
    }

    &__text-elems {
        font-family: layout-font-family;
        margin-bottom: auto;
        flex-shrink: 100;

        @media (max-width: media[tablet]) {
            margin-bottom: 0;
        }
    }

    &__fullname {
        font-weight: bold;
        font-size: 16px
        color: theme-text-main;
    }

    &__username {
        margin-left: 10px;
        font-size: 13px
    }
}
