.user-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    &__username {
        margin-left: 10px;
    }

    &__fullname {
        margin-left: 10px;
        font-weight: bold;
    }
}
