.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__fullname {
        font-family: layout-font-family;
        font-size: 15px;
        line-height: 20px;
        font-weight: bold;
        color: theme-text-main;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__username {
        font-family: layout-font-family;
        font-size: 14px;
        line-height: 20px;
        text-align: left;
    }
}
