.preview-link
  border: 1px solid #e1e8ed;
  border-radius: .35rem;
  overflow: hidden;
.preview-link span
  padding 1%
.preview-link img
  float:left;
  padding 1%
.preview-link_size_xs img
  max-width 50px;
  max-height 50px;
.preview-link_size_s img
  max-width 70px;
  max-height 70px;
.preview-link_size_m img
  max-width 90px;
  max-height 90px;
.preview-link_size_l img
  max-width 110px;
  max-height 110px;
.preview-link_size_xl img
  max-width 150px;
  max-height 150px;