.page {
    &__image {
        max-width: 100%;
    }

    &__link {
        display: block;
        margin-top: (common-padding / 2);
        font-family: layout-font-family;
        text-align: center;
        font-size: 20px;
    }
}
