.b-404 {
    .error-header {
        color: black;
        text-align: center;
        font-size: 20pt;

        &:first-letter {
            color: red;
        }
    }

    img {
        display: block;
        margin: 0 auto;
        @media (max-width: layout-width) {
            width: 200px;
        }
    }

    .error-text {
        color: black;
        text-align: center;
        font-size: 16pt;
    }
}
