.page_view_subscribers {
    .page__subscribe-button {
        margin-top: common-padding;

        @media (max-width: media[tablet]) {
            margin-top: (common-padding / 2);
        }
    }
}
