.login {
    display: flex;
    flex-direction: column;

    &__providers {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__provider-item {
        display: flex;
        align-items: center;

        &:not(:first-child) {
            margin-top: 10px;
        }
    }

    &__provider-icon {
        margin-right: 15px;
    }

    &__provider-button {
        flex-grow: 1;
    }
}
