@keyframes opacity-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.form-message-write {
    half-common-padding = (common-padding / 2)

    @media(max-width: media[tablet]) {
        height: 100%;
    }

    &__form {
        @media(max-width: media[tablet]) {
            height: 100%;
        }
    }

    &__content {
        @media(max-width: media[tablet]) {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            height: 100%;
        }
    }

    &__textarea&__textarea {
        width: 100%;
        min-height: (22px * 5 + common-padding + 2); // 5 lines + padding + borders
        padding: half-common-padding;

        @media(max-width: media[tablet]) {
            flex-grow: 1;
            resize: none;
        }
    }

    &__attachment {
        display: flex;
        justify-content: center;

        &:not(:empty) {
            margin-top: (common-padding / 2);
        }

        @media(max-width: media[tablet]) {
            flex-shrink: 0;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: half-common-padding;

        @media(max-width: media[tablet]) {
            flex-shrink: 0;
        }
    }

    &__action + &__action {
        margin-left: half-common-padding;
    }

    &__action_hidden&__action_hidden {
        display: none;
    }

    &__action_requested&__action_requested {
        pointer-events: none;
        animation: opacity-animation 1s infinite;
    }

    &__counter {
        margin-left: auto;
        margin-right: half-common-padding;
        font-family: layout-font-family;
        color: theme-muted;

        &_style_valid {
            color: theme-success;
        }

        &_style_attention {
            color: theme-main;
        }

        &_style_error {
            color: theme-error;
        }
    }

    &__submit {
        &_requested {
            pointer-events: none;
            opacity: 0.6;
        }
    }
}
