.form-message-create {
    position: relative;
    border: solid layout-border-color 1px;
    padding: 0 10px 10px 10px;

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__close-button {
        border-top-color: white;
        border-left: none;

        margin: 5px 5px 5px 0;
    }

    &__message-textarea {
        height: 60vh;
    }

    &__title {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        font-weight: 300;
        text-align: center;
    }

    &__errors {
        width: 100%;
        padding: 0;
        list-style: none;
        margin: 0 0 half-common-padding 0;

        &:empty {
            margin: 0;
        }
    }

    &__error {
        font-family: Arial, Helvetica, sans-serif;
        color: theme-error;
    }

    &__symbol-counter {

        width: 3em;
        text-align: right;

        &_attention {
            color: red;
        }
    }

    &__submit-button {
        position: absolute;
        bottom: 10px;
        right: 7px;
    }
}
