.form-message-create-toolbar {

    padding: 10px 0;
    margin-left: 5px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;

    width: 80px;

    &__icon {
        fill: create-message-icons-colors[normal];

        &:hover {
            fill: create-message-icons-colors[active];
        }
    }
}
