.navbar {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: stretch;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  &__icon {
    position: relative;
    display: block;
    fill: #657786;

    &:hover {
      fill: #1DA1F2;
    }
  }
}
